.header__logo {
  max-width: 142px;
  min-height: 33px;
  transition: opacity 0.2s ease-in-out 0.2s;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
    margin-left: 27px;
  }
}