.profile__about {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  padding-top: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__about {
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 14px;
    text-align: center;
  }
}