.elements {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 880px;
  row-gap: 20px;
  column-gap: 17px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0;
  }
}