.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url('../../../images/add-button.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000;
  border: 2px solid #fff;
  outline: none;
  margin: 33px 0 auto auto;
  padding: 0;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    min-width: 282px;
    margin: 36px 0 0;
  }
}