.elements {
  display: flex;
  max-width: 880px;
  margin: 46.25px 200px 66px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .elements {
    max-width: 282px;
    margin: 36px auto 48px;
  }
}