.elements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 17px;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .elements__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0;
  }
}